build
dist / media
node_modules
.DS_Store
.env
.next

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
/.pnpm-store
src/collections/@/public/media/
.env.bak
*.log
